In [ ]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
base_votos = pd.read_csv("votacoesVotos-2021.csv",sep=';')
base_votacao = pd.read_csv("votacoesObjetos-2021.csv",sep=';')

In [ ]:
base_votacao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49338 entries, 0 to 49337
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   idVotacao             49338 non-null  object
 1   uriVotacao            49338 non-null  object
 2   data                  49338 non-null  object
 3   descricao             49338 non-null  object
 4   proposicao_id         49338 non-null  int64
 5   proposicao_uri        49338 non-null  object
 6   proposicao_ementa     48400 non-null  object
 7   proposicao_codTipo    49338 non-null  int64
 8   proposicao_siglaTipo  49338 non-null  object
 9   proposicao_numero     49338 non-null  int64
 10  proposicao_ano        14030 non-null  float64
 11  proposicao_titulo     49338 non-null  object
dtypes: float64(1), int64(3), object(8)
memory usage: 4.5+ MB

In [ ]:
x = base_votos.drop(['uriVotacao','dataHoraVoto','uriVotacao','deputado_uri'
                   ,'deputado_uriPartido','deputado_siglaUf'
                   ,'deputado_idLegislatura','deputado_urlFoto'],axis=1)

In [ ]:
print(x.voto.value_counts())

x.replace({"voto":{"Sim" : 1, "Não" : 0, "Obstrução" : 0, "Abstenção": 0.5, "Artigo 17": 0.5}}, inplace = True)

x = x.pivot_table('voto', ['deputado_id','deputado_nome','deputado_siglaPartido'], 'idVotacao')

Sim          159395
Não          133770
Obstrução      2741
Abstenção       661
Artigo 17       647
Name: voto, dtype: int64

In [ ]:
propostas_selecionadas = [#'2282791-60',
                          '2293449-187',
                          '2275537-117',
                          '2275537-102',
                          '2165194-130',
                          '2210757-104',
                          '2210757-93',
                          '531331-317',
                          '531331-284',
                          '2166595-59']

In [ ]:
base_votacao_selecionadas = base_votacao[base_votacao['idVotacao'].isin(propostas_selecionadas)]

In [ ]:
base_votacao_selecionadas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60 entries, 23630 to 46740
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   idVotacao             60 non-null     object
 1   uriVotacao            60 non-null     object
 2   data                  60 non-null     object
 3   descricao             60 non-null     object
 4   proposicao_id         60 non-null     int64
 5   proposicao_uri        60 non-null     object
 6   proposicao_ementa     60 non-null     object
 7   proposicao_codTipo    60 non-null     int64
 8   proposicao_siglaTipo  60 non-null     object
 9   proposicao_numero     60 non-null     int64
 10  proposicao_ano        28 non-null     float64
 11  proposicao_titulo     60 non-null     object
dtypes: float64(1), int64(3), object(8)
memory usage: 6.1+ KB

In [ ]:
x1 = x[propostas_selecionadas]

In [ ]:
x1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 553 entries, (62881, 'Danilo Forte', 'PSDB') to (218086, 'Ely Santos', 'REPUBLICANOS')
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2293449-187  479 non-null    float64
 1   2275537-117  444 non-null    float64
 2   2275537-102  429 non-null    float64
 3   2165194-130  459 non-null    float64
 4   2210757-104  441 non-null    float64
 5   2210757-93   442 non-null    float64
 6   531331-317   440 non-null    float64
 7   531331-284   429 non-null    float64
 8   2166595-59   427 non-null    float64
dtypes: float64(9)
memory usage: 50.4+ KB

In [ ]:
x1 = x1.dropna()

In [ ]:
x1.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 211 entries, (62881, 'Danilo Forte', 'PSDB') to (215045, 'Pedro Augusto Palareti', 'PSD')
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   2293449-187  211 non-null    float64
 1   2275537-117  211 non-null    float64
 2   2275537-102  211 non-null    float64
 3   2165194-130  211 non-null    float64
 4   2210757-104  211 non-null    float64
 5   2210757-93   211 non-null    float64
 6   531331-317   211 non-null    float64
 7   531331-284   211 non-null    float64
 8   2166595-59   211 non-null    float64
dtypes: float64(9)
memory usage: 24.7+ KB

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
kmeans = KMeans(init="random", n_clusters=3, n_init=10,max_iter=300)

In [ ]:
labels = kmeans.fit(x1)
prediction = kmeans.predict(x1)
prediction = pd.DataFrame(prediction)

In [ ]:
x1 = x1.reset_index(level =['deputado_id','deputado_nome','deputado_siglaPartido'])
x1['Cluster'] = prediction

In [ ]:
x1.head()

idVotacao  deputado_id      deputado_nome  ... 2166595-59  Cluster
0                62881       Danilo Forte  ...        1.0        0
1                66828      Fausto Pinato  ...        1.0        0
2                73433  Arlindo Chinaglia  ...        1.0        0
3                73466       Rubens Bueno  ...        1.0        1
4                73482   Henrique Fontana  ...        1.0        0

[5 rows x 13 columns]

In [ ]:
cluster = x1.groupby(['deputado_siglaPartido','Cluster']).size().reset_index(name='counts')

In [ ]:
cluster.head()

  deputado_siglaPartido  Cluster  counts
0                AVANTE        0       1
1                AVANTE        1       1
2                AVANTE        2       1
3             CIDADANIA        0       1
4             CIDADANIA        1       4

In [ ]:
cluster_final = cluster.pivot_table('counts', ['deputado_siglaPartido'], 'Cluster')

In [ ]:
cluster_final

Cluster                   0     1    2
deputado_siglaPartido
AVANTE                  1.0   1.0  1.0
CIDADANIA               1.0   4.0  1.0
DEM                     2.0   4.0  NaN
MDB                     4.0   5.0  NaN
NOVO                    NaN   NaN  8.0
PCdoB                   5.0   NaN  NaN
PDT                     NaN   2.0  5.0
PL                      9.0   2.0  NaN
PODE                    2.0   2.0  1.0
PP                      6.0   2.0  NaN
PROS                    2.0   3.0  NaN
PSB                     3.0  11.0  2.0
PSC                     5.0   1.0  NaN
PSD                     8.0   5.0  NaN
PSDB                    4.0   7.0  2.0
PSL                    22.0  10.0  3.0
PSOL                    NaN   NaN  3.0
PT                     32.0   NaN  NaN
PTB                     1.0   NaN  NaN
PV                      NaN   1.0  NaN
REPUBLICANOS           13.0   1.0  NaN
SOLIDARIEDADE           3.0   1.0  NaN

In [ ]:
x1.to_csv("clusters_deputados.csv", sep=';')

In [ ]:
pd.read_csv("clusters_deputados.csv", sep = ';')

     Unnamed: 0  deputado_id  ... 2166595-59 Cluster
0             0        62881  ...        1.0       0
1             1        66828  ...        1.0       0
2             2        73433  ...        1.0       0
3             3        73466  ...        1.0       1
4             4        73482  ...        1.0       0
..          ...          ...  ...        ...     ...
206         206       213762  ...        1.0       0
207         207       215042  ...        1.0       0
208         208       215043  ...        1.0       1
209         209       215044  ...        0.0       2
210         210       215045  ...        1.0       0

[211 rows x 14 columns]